//- creating the links to display at the top of the pages
div#header
	a(class='links' href="/userprofile") User Profile
	| 
	|
	a(class='links' href="/artworks") View Artworks
	|
	| 
	a(class='links' href="/searchartworks") Search Artworks
	| 
	|
	a(class='links' href="/logout") Log out
	|