html
    head
        title Home Page
        link(rel='stylesheet', href='/home_styles.css', type='text/css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Rubik&family=Signika+Negative:wght@500&display=swap" rel="stylesheet")
body
    div
        br 
        br 
        h1 Welcome to Open Gallery!
        br 
        br 
        br
        div#container1
            a(href="/login") Log in
            | 
            a(href="/register") Sign up